/*styles*/
/*
colors: https://htmlcolorcodes.com/
*/
* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    width : 100%;
}

h1,h2 {
    text-align: center;
}

.border {
    border: 2px solid #1C6EA4;
    border-radius: 9px;
    margin : 5px;
    padding: 5px;
}

.labelBorder {
    border: 2px solid #1C6EA4;
    border-radius: 5px;  
    padding : 5px;  
}

.section_1, .section_2, .section_3 {
    position : relative;
}

.foodLabel {
    width : 150px;
    margin-left : auto;
    margin-right : 0;  
}

.chickenLabel {
    background-color: #F5B7B1;
}
.sushiLabel {
    background-color: #FCF3CF;
}
.beefLabel {
    background-color: #CD6155;
}
/*
 -- Responsive wbesite constraints --
Desktop :  >= 992px. 
Tablet :  >=768px and <=991px. 
Mobile : <= 767px.
*/
@media (min-width : 992px){
    body {
        background-color: rgb(120, 236, 236);
    }
    .col-lg-3 {
        width : 33%;
    }
}

@media (min-width : 768px ) and (max-width:991px){
    body {
        background-color: rgba(147, 246, 168, 0.966);
    }
}

@media (max-width : 767px){
    body {
        background-color: rgba(147, 198, 246, 0.966);
    }
}