/*styles*/
* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    width : 100%;
}

h1,h2 {
    text-align: center;
}

.border {
    border: 2px solid #1C6EA4;
    border-radius: 9px;
    margin : 5px;
    padding: 5px;
}

.topRight {
    position : absolute;
    top : 5px;
    right : 5px;
    width: auto;
}
/*
 -- Responsive wbesite constraints --
Desktop :  >= 992px. 
Tablet :  >=768px and <=991px. 
Mobile : <= 767px.
*/