/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    div.hide-for-lg {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    div.hide-for-lg {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
    div.hide-for-lg {
        display: none;
    }
}

.nav-link {
    text-align : center;
}

.foodLabel {
    width : 100%;
    margin-left : 0;     
    padding : 0;  
}

.section_1, .section_2, .section_3 {
    padding:0;
    display : inline;
}